


/* for mobile first */
.main-content {
  display: flex;
}
header {
  position: fixed;
  
}

.header-nav {
  text-decoration: none;
}

.header-nav-items-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-nav-items-list li {
  list-style-type: none;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border: solid;
  padding: 1rem 1rem 1rem 1rem;
}


.header-nav-items-list li a {
  text-decoration: none;
}

.header-nav-items-list li a:visited {
  color:black;
 
}

.main-header-nav-item-link--active {
  font-weight: bold;
}


main {
  margin-left: 8rem ;
}
h1 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

h4 {
  background-color: whitesmoke;
}

.containter {
  margin: 2rem 2rem 2rem 2rem;
  grid-template-columns: 1fr;
}

.section-wrapper--active {
  color: purple;
}

footer {
  text-align: center;
  padding: 1rem;
}

.footer-nav-icon {
  font-size: 2rem !important;
  color: #2E3C40;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  
}

.scroll-to-top-button-wrapper {
  text-align: center;
}

.scroll-to-top-button:hover {
  background: transparent;
  color: #2d3436;
  text-align: center;
}

.scroll-to-top-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.scroll-to-top-button {
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  main {
    margin-left: 10rem ;
  }

  .header-nav-items-list li {
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: center;
    margin: 1.5rem 0 1.5rem 0;
  
  }

  .containter:nth-of-type(odd) {
    font-size: 1.1rem;
    position: relative;
    text-align: left;
    padding: 3rem 3rem 3rem 3rem;
  }
  .containter:nth-of-type(even) {
    font-size: 1.1rem;
    position: relative;
    text-align: right;
    padding: 3rem 3rem 3rem 3rem;
  }
}